{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
	<main class="container text-center">
		<section class="row">
			<div class="col-12 text-center">
				<h1>Oops! Page not found</h1>
                <img src={{asset('assets/img/404-homer-550x282.jpg')}} width = "60%" >
				
			</div>
		</section>
	</main>
{% endblock %}
